body {
    margin: 0;
    text-align: center;
    color: #40514e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(214, 223, 220);
}

h1 {
    margin-top: 30px auto 0 auto;
    font-size: 3rem;
    color: #66bfbf;
}

h2 {
    font-size: 2.4rem;
    color: #66bfbf;
}

h3 {
    color: #11999e;
    font-size: 2rem;
}

p {
    line-height: 2;

}

hr {
    border: dotted #eaf6f6;
    border-bottom: none;
    width: 8%;
    margin: 80px auto;
}

a {
    color: #11999e;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
    font-size: 1.2rem;
}

/* div {
    background-color: aquamarine;
} */

.top-container{
    background-color: #eff9f5;
    padding-top: 100px;
    position: relative;
}

.intro {
    width: 35%;
    margin: auto;
}

.middle-container {
margin: 100px 0;
    
}

.bottom-container {

    background-color: #66bfbf;
    padding: 50px 0 20px;
}

.first-cloud {
    position:absolute;
    top: 50px;
    right: 300px;
}

.second-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.profile-pic {
    width: 20%;
}

.skill-img {
 float: left;
 margin-right: 25px;
}

.code-img {
    float: right;
    margin-left: 25px;
    
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #51b5f7;
    background-image: -webkit-linear-gradient(top, #51b5f7, #2773a3);
    background-image: -moz-linear-gradient(top, #51b5f7, #2773a3);
    background-image: -ms-linear-gradient(top, #51b5f7, #2773a3);
    background-image: -o-linear-gradient(top, #51b5f7, #2773a3);
    background-image: linear-gradient(to bottom, #51b5f7, #2773a3);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ede1ed;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #79bde8;
    background-image: -webkit-linear-gradient(top, #79bde8, #53748a);
    background-image: -moz-linear-gradient(top, #79bde8, #53748a);
    background-image: -ms-linear-gradient(top, #79bde8, #53748a);
    background-image: -o-linear-gradient(top, #79bde8, #53748a);
    background-image: linear-gradient(to bottom, #79bde8, #53748a);
    text-decoration: none;
  }

  .copyright {
    color: #eaf6f6;
    font-size: 0.8rem;
    padding: 20px 0;
  }